<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form method="post" action="Name.cshtml">
        <label>Imię:</label>
        <input type="text" name="name" value="" />
        <input type="submit" name="submit" value="Submit" />
    </form>
</body>
</html>